In [5]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

#solution
x="assignment1"
fruits=["apple","orange","banana","kiwi"]
y=1.232
z=(1, 2, "three", "four",5)

print(type(x))
print(type(fruits))
print(type(y))
print(type(z))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [14]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

#Solution
var1=''
var2='[DS, ML,Python]'
var3=['DS','ML','Python']
var4=1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [23]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

#Solution
#(i) /= Division
#Eg
x=10
y=2
print(x/y)

5.0

In [24]:
#(i) %
#solution
# %= Modulus
#Eg
x=5
y=2
print(x%y)

1

In [25]:
#(iii) //
#solution
# //=floor division
# Eg
x=15
y=7
print(x//y)

2

In [26]:
# (iv) **
# solution
# **= Exponentiation
# Eg
x=2
y=4
print(x**y)

16

In [29]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
# Solution
list=[1,1.0,"two",True,('apple','orange'),{1,2,3},[9,8],{'five':5},None,3]

for item in list:
    print(item,type(item))

1 <class 'int'>
1.0 <class 'float'>
two <class 'str'>
True <class 'bool'>
('apple', 'orange') <class 'tuple'>
{1, 2, 3} <class 'set'>
[9, 8] <class 'list'>
{'five': 5} <class 'dict'>
None <class 'NoneType'>
3 <class 'int'>

In [42]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
#solution

A= 16
B= 2
count=0
while A%B==0:
    A=A//B
    count+=1
    
    
print('number of times A is divisible by B:',count)

number of times A is divisible by B: 4

In [45]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

#solution

list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for num in list:
    if num % 3 ==0:
        print('num is divisible by 3')
    else:
        print('num is not divisible by 3')

num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3

In [48]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

#solution
#Mutable data types:

# Mutable objects can be modified after they are created.
# Changes made to a mutable object persist, and no new object is created.
# Examples  include lists, dictionaries, and sets

fruits=['apple','orange','banana','kiwi']

fruits[1]='pineapple'
print(fruits)

['apple', 'pineapple', 'banana', 'kiwi']

In [50]:
#Immutable data types:

#Immutable objects cannot be changed after they are created.
#When an immutable object is modified, a new object is created with the modified value.
#Examples include integers, floats, booleans, strings, and tuples.

x=2
print(x) # before changeing value of x
x=5
print(x) # after canging value of z

2
5